{% extends 'iam/base.html' %}
{% block indextwo %}
<body>
        <header>
            <h1>Доброго дня! Сегодня отличный день!</h1>
        </header>

        <main>
            <section>
                <h2>Не хотелось бы спорить, но вот доводы:</h2>
                <ul>
                    <li>Солнце светит</li>
                    <li>Вода течет</li>
                    <li>Ветер дует</li>
                    <li>Огонь греет</li>
                </ul>
            </section>
        </main>

        <footer>
            <p>Здесь снова могла бы быть ваша реклама</p>
        </footer>
</body>
{% endblock %}